* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto;
    scroll-behavior: smooth scroll;
}

.navigationbar{
    background: grey;
    height: 80px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar_container{
    display: flex;
    justify-content: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar_item{
    height: 80px;
}

.navbar_links{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width:  125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;

}

.navbar_links:hover{
    color: red;
    transition: all 0.3s ease-in-out;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    background: red;
    border: white;
    outline: white;
    border-radius: 8px;
    color: white;
    transition: all 0.3 ease;
}

.navbar_container i {
    margin-left: 60px;
}

first-textbox{
    margin-top: 20px;
    margin-bottom: 100px;
}

.first-section{
    background: grey;
    padding: 180px;
    justify-content: left;
    align-items: left;
    height: 90%;
    margin: 0 auto;
    flex-direction: column;

}

.learnmore-button{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 40px;
    width: 15%;
    background: red;
    border: white;
    outline: white;
    border-radius: 8px;
    color: white;
    transition: all 0.3 ease;
    font-family: Arial, Helvetica, sans-serif;
}

.first-textbox{
font-size: 2rem;
width: 30%;
margin-bottom: 10px;
font-family: Arial, Helvetica, sans-serif;

}

.second-textbox{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;

}